*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

html {
    font-family: "Open Sans" , sans-serif;
}

#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 0.5rem;
}

#navbar ul li a:hover {
  background-color:#336ea2 ;
  border-radius: 5px;
}

/** Home Section **/

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid gray;
}

#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2 {
    margin-bottom: 0.75rem;
}

#home .name p {
    opacity: 0.6;
    font-style: italic;
    margin-bottom: 0.75rem;
}

#mentor{
    color: #fff;
    padding: 1rem;
}

#mentor .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mentor .item .item {
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#mentor .items .item:hover{
    color: antiquewhite;
    opacity: 0.7;
}

#description {
    color: #fff;
    padding: 1rem;
}

/** Products**/

#products{
    color: #333;
    padding: 1rem;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.products .product{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.products .product .product-image{
    margin-right: 0.5rem;
    position: relative;
}

.products .product .product-image img{
    max-width: 230px;
    max-height: 230px;
    border-radius: 5px;
}

.products .product .product-image span{
    background-color: #33a25f;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    left: 0;
}

.products .product .product-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;

}

.products .product .product-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;

}

/** contact**/
#contact{
    color: #fff;
    padding: 1rem;
}

#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}

#contact .contact-form ul li a{
  padding: 1rem;
  font-size: 1.5rem;
}
#contact .contact-form ul li a:hover{
   opacity: 0.8;
  }